# Set:

In [4]:
g = {'a',45,120,155,450,'Ramu'}
print(g)

{450, 'Ramu', 45, 'a', 155, 120}

In [2]:
g

{120, 155, 45, 'Ramu', 'a'}

In [5]:
h = {}
m = {2}
print(h,type(h))
print(m,type(m))

{} <class 'dict'>
{2} <class 'set'>

In [6]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [7]:
s1 = {14,67,'ramu',0,'lalitha'}
s1.add("Lakshmi")
print(s1)

{0, 67, 'Lakshmi', 14, 'ramu', 'lalitha'}

In [8]:
s1

{0, 14, 67, 'Lakshmi', 'lalitha', 'ramu'}

In [9]:
print(s1)
s1.pop()
print(s1)

{0, 67, 'Lakshmi', 14, 'ramu', 'lalitha'}
{67, 'Lakshmi', 14, 'ramu', 'lalitha'}

In [10]:
s1

{14, 67, 'Lakshmi', 'lalitha', 'ramu'}

In [11]:
print(s1)
s1.pop()
print(s1)

{67, 'Lakshmi', 14, 'ramu', 'lalitha'}
{'Lakshmi', 14, 'ramu', 'lalitha'}

In [12]:
print(s1)
s1.pop('ramu')
print(s1)

{'Lakshmi', 14, 'ramu', 'lalitha'}

TypeError: pop() takes no arguments (1 given)

In [13]:
print(s1)
s1.remove('ramu')
print(s1)

{'Lakshmi', 14, 'ramu', 'lalitha'}
{'Lakshmi', 14, 'lalitha'}

In [15]:
print(s1)
s1.remove("Lakshmi")
print(s1)

{'Lakshmi', 14, 'lalitha'}
{14, 'lalitha'}

In [56]:
s2 = (45,8,32,5,6)
s3 = (1,2,5,7,6,123,456)
print(s2)
print(s3)
print(s3.union(s2))
print(s2)
print(s3)

(45, 8, 32, 5, 6)
(1, 2, 5, 7, 6, 123, 456)

AttributeError: 'tuple' object has no attribute 'union'

In [20]:
print(s2)
print(s3)
print(s3.intersection(s2))
print(s2)
print(s3)

(45, 8, 32, 5, 6)
(1, 2, 5, 7, 6, 123, 456)

AttributeError: 'tuple' object has no attribute 'intersection'

# Dictionary:

In [21]:
t = {'name':("ramu","suresh","tejaswini"),'age':20,'sal':[24,500,48,560]}
print(t,type(t))

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560]} <class 'dict'>

In [22]:
print(t['sal'][0])

24

In [23]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [24]:
print(t.keys())

dict_keys(['name', 'age', 'sal'])

In [25]:
print(t.values())

dict_values([('ramu', 'suresh', 'tejaswini'), 20, [24, 500, 48, 560]])

In [27]:
y = {'name':"tilak","age":[45,59],"sal":0}
print(y)

{'name': 'tilak', 'age': [45, 59], 'sal': 0}

In [28]:
print(t.items())

dict_items([('name', ('ramu', 'suresh', 'tejaswini')), ('age', 20), ('sal', [24, 500, 48, 560])])

In [ ]:
[(key,value),(),()]

In [30]:
print(t.get('name'))
print(t.get('age'))
print(t.get('no'))

('ramu', 'suresh', 'tejaswini')
20
None

In [31]:
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560]}

In [32]:
print(t)
t['no'] = [12,78,89,450]
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560]}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560], 'no': [12, 78, 89, 450]}

In [33]:
print(t)
t['no'] = 'lakshmi'
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560], 'no': [12, 78, 89, 450]}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560], 'no': 'lakshmi'}

In [34]:
print(t)
t.setdefault('tr')
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560], 'no': 'lakshmi'}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560], 'no': 'lakshmi', 'tr': None}

In [36]:
print(t)
t.update()
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560], 'no': 'lakshmi', 'tr': None}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560], 'no': 'lakshmi', 'tr': None}

In [38]:
print(t)
t.update({"tr":45})
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560], 'no': 'lakshmi', 'tr': None}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560], 'no': 'lakshmi', 'tr': 45}

In [39]:
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560], 'no': 'lakshmi', 'tr': 45}

In [43]:
print(t.update({'tr':"ramu"}))

None

In [44]:
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560], 'no': 'lakshmi', 'tr': 'ramu'}

In [45]:
print(t)
print(t.pop('age'))
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24, 500, 48, 560], 'no': 'lakshmi', 'tr': 'ramu'}
20
{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24, 500, 48, 560], 'no': 'lakshmi', 'tr': 'ramu'}

In [46]:
print(t)
print(t.popitem())
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24, 500, 48, 560], 'no': 'lakshmi', 'tr': 'ramu'}
('tr', 'ramu')
{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24, 500, 48, 560], 'no': 'lakshmi'}

In [50]:
q = ['name','age','sal']
w = [12,45,78,98,45]
print(q)
print(w)
f = {'name':34,'donar':45}
f.fromkeys(q)
f.fromkeys(w)
print(f)
print(q)
print(w)

['name', 'age', 'sal']
[12, 45, 78, 98, 45]
{'name': 34, 'donar': 45}
['name', 'age', 'sal']
[12, 45, 78, 98, 45]

In [51]:
t = {}
t.fromkeys(q,w[0])
print(t)

{}

In [52]:
t = {'name':"ramu",'sno':1}
t1 = {}
t1 = t.fromkeys(q,w)
print(t1)

{'name': [12, 45, 78, 98, 45], 'age': [12, 45, 78, 98, 45], 'sal': [12, 45, 78, 98, 45]}

In [54]:
marks = {}.fromkeys(["maths","python","c++"],[0,45])
print(marks)

{'maths': [0, 45], 'python': [0, 45], 'c++': [0, 45]}

In [ ]:
contact application:
    
    1.Enter new record
    2.Display all records
    3.Update Record
    4.Delete Record
    
    1.ramu -> not exists
        mobile number -> xxxxx
        ramu record already exixts
    2.
        name   mobile number
        ramu   xxxxxxxxxxx
        rajesh xxxxxxxxxxx
    3.ramu -> exist
         mobile number -> xxxxxxxx
         user doesnt exist
    4.ramu -> exist
        user deleted successfully

In [ ]:
1 Enter new contact
2 display all contact
3 update contact
4 delete contact
0 Exit