# variable:
    - to store a value
    - to access the value in different functions,methods
    - to changes value

In [1]:
a = 10

In [2]:
a

10

In [3]:
b = 20

In [4]:
b

20

In [5]:
a = 200
b = 'rajesh'
a
b

'rajesh'

In [6]:
a = 200
b = 'rajesh'
b
a

200

In [7]:
a = 200
b = "rajesh"
a,b

(200, 'rajesh')

In [8]:
print(a,b)

200 rajesh

In [9]:
print(a,b)
print(b,a)

200 rajesh
rajesh 200

## Data types
    - int -> only numbers
    - float -> decimal points
    - string -> either with "or"

In [21]:
c = 23.000
t = 'tarun'

In [11]:
c,t = 23.000,'tarun'

In [12]:
print(c,t)

23.0 tarun

In [15]:
c

23.0

## Type
    - to know the data type for that value
    - type(variablename,data structure)

In [16]:
type(c)

float

In [17]:
g = '12.056'
g

'12.056'

In [18]:
print(g)

12.056

In [19]:
type(g)

str

In [22]:
print(type(g))

<class 'str'>

In [23]:
print(type(c))

<class 'float'>

In [24]:
print(type(a))

<class 'int'>

In [25]:
print(type(a),type(c),type(g))

<class 'int'> <class 'float'> <class 'str'>

In [26]:
a,c,g

(200, 23.0, '12.056')

In [27]:
type(c),type(a),type(g)

(float, int, str)

## input():
    - By default it will be considered as a string value
    - print(),read()

In [1]:
a = input()
print(a,type(a))

26
26 <class 'str'>

In [2]:
t = input("Enter a value:")
print(t,type(t))

Enter a value:45
45 <class 'str'>

## Type casting
    - converting one data into another data type
    - int(),str(),float()

In [3]:
p = input("Enter only integer values:")
print(p,type(p))

Enter only integer values:78
78 <class 'str'>

In [4]:
m = float(input("Enter float values:"))
print(m,type(m))

Enter float values:12
12.0 <class 'float'>

In [8]:
q = int(input("Enter integer values:"))
k = float(input("Enter float values:"))
print(q)
print(k)

Enter integer values:48
Enter float values:45.0128
48
45.0128

In [24]:
````
    Input:
        Enter integer values: 48
        Enter Float values: 45.0218
        
    Output:
        conversion of int value is: 48.0
        conversion of float value is: 45
        Both case in string is:'48' '45.0218'
````

SyntaxError: invalid syntax (<ipython-input-24-1758ea03f9ca>, line 1)

In [10]:
q = int(input("Enter integer values:"))
k = float(input("Enter float values:"))
print("Conversion of int value is: ",float(q))
print(k)

Enter integer values:48
Enter float values:45.123
Conversion of int value is:  48.0
45.123

In [11]:
q = int(input("Enter integer values:"))
k = float(input("Enter float values:"))
print("Conversion of int value is: ",float(q))
print("Conversion of int value is: ",int(k))

Enter integer values:48
Enter float values:45.0128
Conversion of int value is:  48.0
Conversion of int value is:  45

In [12]:
q = int(input("Enter integer values:"))
k = float(input("Enter float values:"))
print("Conversion of int value is: ",float(q))
print("Conversion of int value is: ",int(k))
print("Both cases in string is:",str(q))

Enter integer values:48
Enter float values:45.0218
Conversion of int value is:  48.0
Conversion of int value is:  45
Both cases in string is: 48

In [15]:
q = int(input("Enter integer values:"))
k = float(input("Enter float values:"))
print("Conversion of int value is: ",float(q))
print("Conversion of int value is: ",int(k))
print("Both cases in string is:"+"'"+str(q)+"'")

Enter integer values:45
Enter float values:45.0218
Conversion of int value is:  45.0
Conversion of int value is:  45
Both cases in string is:'45'

In [16]:
q = int(input("Enter integer values:"))
k = float(input("Enter float values:"))
print("Conversion of int value is: ",float(q))
print("Conversion of int value is: ",int(k))
print("Both cases in string is:"+"'"+str(q)+"'"+" "+"'"+str(k)+"'")

Enter integer values:45
Enter float values:45.0218
Conversion of int value is:  45.0
Conversion of int value is:  45
Both cases in string is:'45' '45.0218'