In [1]:
n = int(input("enter a value:"))
m = input("enter a name:")
print("entered number is: %d"%n)
print("enter name is:%s"%m)

enter a value:15
enter a name:lakshmi
entered number is: 15
enter name is:lakshmi

In [2]:
print("entered number is:%d and entered name is:%s"%(n,m))

entered number is:15 and entered name is:lakshmi

In [3]:
print("entered number is {} and entered name is:{}".format(n,m))
print("entered number is{0} and entered name is:{1}".format(n,m))
print("entered name is{1} and entered number is:{0}".format(n,m))

entered number is 15 and entered name is:lakshmi
entered number is15 and entered name is:lakshmi
entered name islakshmi and entered number is:15

## operators
    - arithematic -> +,-,*,/,floor(//)-> exact integer,expotential(**=power())
    - bitwise -> and,or,not
    - relational -> ==,>=,<=,<,>
    - assignment -> +=,-=,*=,/=,%=
    - memebership -> in,notin
    - identity -> is,isnot

In [1]:
a = 20
print(a>>2)

5

# conditional statements
    - to check whether a given condition is either true or false
    - if,nested if,if-else,elif ladder

## if -> single case[T or F]
```
    syntax:
        if (condition):
            //stmt
```

In [3]:
n = int(input())
if n == 45:
    print("entered value is:{}".format(n))

45
entered value is:45

## if-else -> two cases[T or F]
```
    syntax:
        if(condition-1)
            //true statement
        else:
            //false statement
```

In [4]:
k = int(input())
m = int(input())
if k == m:
    print("entered values{} and {} are equal".format(k,m))
else:
    print("entered values{} is not equal to{}".format(k,m))

12
26
entered values12 is not equal to26

## Nested if[if within an if] -> one or more cases:
````
    syntax:
        if(condition-1):
          if(condition-2):
            \\stmt-1
       else optional case
          if(condition-1):
             if(condition-2):
                \\stmt-1
      else:
         \\stmt
     else:
         \\stmt
````

In [13]:
n = int(input())
if (n) < 200:
    if(n == 100):
        print("Entered value is equal to 100".format(n))
    else:
        print("Entered value {} is not equal to 100 but it is lower than 200".format(n))
else:
    print("Entered value {} is greater than 200".format(n))

300
Entered value 300 is greater than 200

In [14]:
n = int(input())
if (n) < 200:
    if(n == 100):
        print("Entered value is equal to 100".format(n))
    else:
        print("Entered value {} is not equal to 100 but it is lower than 200".format(n))
else:
    print("Entered value {} is greater than 200".format(n))

150
Entered value 150 is not equal to 100 but it is lower than 200

In [15]:
n = int(input())
if (n) < 200:
    if(n == 100):
        print("Entered value is equal to 100".format(n))
    else:
        print("Entered value {} is not equal to 100 but it is lower than 200".format(n))
else:
    print("Entered value {} is greater than 200".format(n))

100
Entered value is equal to 100

### Elif -> two or n more cases
```
    syntax:
        if(condition-1):
            \\stmt-1
        elif(condition-2):
            \\stmt-2
        elif(condition-n):
            \\stmt-n
        else:
            \\stmt-(n+1)
```

In [19]:
n = int(input())
if n%2 == 0 and n%4 == 0:
    print("entered value {} is divisible by 2 and 4".format(n))
elif n%2==0:
    print("entered value {} is divisible by 2".format(n))
else:
    print("entered value {} is not divisible by 2".format(n))

6
entered value 6 is divisible by 2

In [20]:
n = int(input())
if n%2 == 0 and n%4 == 0:
    print("entered value {} is divisible by 2 and 4".format(n))
elif n%2==0:
    print("entered value {} is divisible by 2".format(n))
else:
    print("entered value {} is not divisible by 2".format(n))

8
entered value 8 is divisible by 2 and 4

In [21]:
n = int(input())
if n%2 == 0 and n%4 == 0:
    print("entered value {} is divisible by 2 and 4".format(n))
elif n%2==0:
    print("entered value {} is divisible by 2".format(n))
else:
    print("entered value {} is not divisible by 2".format(n))

1
entered value 1 is not divisible by 2